body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title {
    font-size: 30px;
    
}

.gluten-nav {
    display: flex;
    justify-content: center;
}

.gluten-list {
    position: absolute;
    top: 0;
    right: 0;
}



