{% extends "base.html" %}
{% block content %}

<div class="row">
   <div class="col s12 m6 l3  ">
    <a href="{{ url_for('add_starters') }}" class="btn-large blue">
            Add Starters <i class="fas fa-plus-square right"></i> </a>
        </div>
   
        <div class="col s12 m6 l3  ">
    <a href="{{ url_for('add_mains') }}" class="btn-large blue">
            Add Mains <i class="fas fa-plus-square right"></i> </a>
    </div>

    <div class="col s12 m6 l3  ">
        <a href="{{ url_for('add_cuisine') }}" class="btn-large blue">
                Add Desserts <i class="fas fa-plus-square right"></i> </a>
        </div>

        <div class="col s12 m6 l3  ">
            <a href="{{ url_for('add_cuisine') }}" class="btn-large blue">
                    Add Drinks <i class="fas fa-plus-square right"></i> </a>
            </div>
</div>

<div class="row">
        <img class"gluten-pic" src="{{ url_for('static', filename='img/gluten-free-diet.jpg') }}">
</div>


{% endblock %}