{% extends "base.html" %}
{% block content %}

<h4 class="card-center">Mains</h4>
<h5 class="card-center"> Click on the name of the recipe for full details.</h5>

<!--------- Modal Trigger --------->
<div class="row">
    {% for main in mains %}
    <div class="col l3 m6 s12">
    <a class="waves-effect waves-light btn modal-trigger" href="#modal-{{ loop.index }}">{{ main.main_names }}</a>
    <!------Modal Structure ----->
     <div id="modal-{{ loop.index }}" class="modal">
      <div class="modal-content">
        <h3>{{ main.main_names }}</h3>
        <h5>Tools:</h5>
        <p>{{ main.main_tools }}</p>
        <h5>Ingredients:</h5>
        <p>{{ main.main_ingredients }}</p>
        <h5>Directions:</h5>
        <p>{{ main.main_directions }}</p>
      
        <div class="modal-footer">
          <a href="{{ url_for('edit_mains', main_id=main.id) }}" class="modal-close waves-effect waves-green btn-flat">Edit</a>
          <a href="{{ url_for('delete_mains', main_id=main.id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
        </div>
          
      </div>
      </div>
    </div>
  
    {% endfor %}
  </div>

{% endblock %}